# Strings

- collection of characters
- strings are immutable
- we use utf-8 in python
- python does'nt have concept of characters
- we can use ' ' or " "
- we can use ''' ''' or """ """ for multiline strings

In [1]:
name = "samar"

In [2]:
print(name)

samar

In [3]:
name ="""
    this is my multiline
    string
"""

In [4]:
print(name)

    this is my multiline
    string

In [5]:
name = '''
    this is also 
    multiline string
'''

In [6]:
print(name)

    this is also
    multiline string

### String functions

In [7]:
ord('a')

97

In [8]:
chr(65)

'A'

### String operations

In [9]:
a = 1
b = 2
c = 3

In [10]:
print("{}-{}-{}".format(a, b, c))

1-2-3

In [11]:
print("{1}-{0}-{2}".format(a, b, c))

2-1-3

In [1]:
firstname = "samar"
lastname = "kalra"

In [3]:
print(f"{lastname} {firstname}")

kalra samar

In [14]:
name = "     samar     "
print(name.strip())

samar

In [15]:
a = input()

1 2 3 4 5

In [16]:
a

'1 2 3 4 5'

In [17]:
a.split(' ')

['1', '2', '3', '4', '5']

In [19]:
name = "samar"
name.replace('a','m') #replace all occurence of a with m

'smmmr'

In [20]:
name.count('a')

2

# Lists

- [] square brackets
- ordered data
- mutable
- can be accessed using index
- heterogeneous (collection of different data types)

In [21]:
a = [1, 2, 3, 4]

In [22]:
a

[1, 2, 3, 4]

In [23]:
a[0]

1

In [24]:
print(a[0], a[2])

1 3

In [25]:
b = ["samar", 1, 10.5, print] #list can also contain a function

In [26]:
type(b)

list

In [27]:
b

['samar', 1, 10.5, <function print>]

### length

In [28]:
a = [1, 2, 3, 4]

In [29]:
len(a)

4

### concatenate

In [30]:
a + a

[1, 2, 3, 4, 1, 2, 3, 4]

### repetition

In [31]:
a*5

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

### membership

In [32]:
5 in a

False

In [33]:
3 in a

True

### iteration

In [34]:
for x in a:
    print(x, end=" ")

1 2 3 4

### indexing

In [35]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [36]:
a[3]

4

In [37]:
a[9]

10

In [38]:
a[-5] #backward indexing

6

In [39]:
a[-3]

8

### slicing

- list[start : end : jump] 
- start is inclusive whereas end is inclusive

In [40]:
a[2:6]

[3, 4, 5, 6]

In [41]:
a[0:10:2]

[1, 3, 5, 7, 9]

In [42]:
a[0:10:4]

[1, 5, 9]

In [43]:
a[:] #iterate over every element

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [44]:
a[::-1] #reverse the list (jump = -1)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [45]:
#palindrome string check
a = "nitin"
print(a == a[::-1])

True

### Updating the List

- insert (particular index)
- append (end pr)

In [46]:
a = [1,2,3,4,5,6]

In [47]:
a.insert(6, 7)
a.insert(2, 8)

In [48]:
print(a)

[1, 2, 8, 3, 4, 5, 6, 7]

In [49]:
a.append(10)

In [50]:
print(a)

[1, 2, 8, 3, 4, 5, 6, 7, 10]

### Deleting List elements

- del (del is an operator to free space)
- pop (from end)
- remove (particular index)

In [51]:
a = [1, 2, 3, 4, 5]

#### pop()

In [52]:
a.pop() #deletes last element

5

In [53]:
a

[1, 2, 3, 4]

In [54]:
a.pop(1) #deletes element at particular index

2

In [55]:
a

[1, 3, 4]

In [56]:
a = ["samar", "rahul", "vishal", "aamir"]

#### remove()

In [57]:
a.remove("rahul") #remove first occurence of argument passed

In [58]:
a

['samar', 'vishal', 'aamir']

#### del operator

In [59]:
del a[0] #del is an operator to free space

In [60]:
a

['vishal', 'aamir']

### Sorting and Reversing

In [61]:
a = [5,2,7,2,9,0,16]

In [62]:
sorted(a) #returns sorted list

[0, 2, 2, 5, 7, 9, 16]

In [63]:
a.sort() #inplace sort

In [64]:
for x in reversed(a): #returns reversed list
    print(x)

16
9
7
5
2
2
0

In [65]:
a.reverse() #inplace reverse

In [66]:
a

[16, 9, 7, 5, 2, 2, 0]

# Tuples

- () parenthesis
- ordered data
- just like Lists but are immutable
- much more performant(efficient) than lists
- a = 1, 2 (a is a tuple)

In [67]:
def func(*args):
    print(args)

In [69]:
func(1,2,3,4,5) #tuple is used to store packed arguments

(1, 2, 3, 4, 5)

In [70]:
#interview question
#swap two variables
#1 using third variable (temp=a, a=b, b=temp)
#2 without using third variable (a=a+b, b=a-b, a=a-b)
#3 using xor (a=a^b, b=a^b, a=a^b)
#4 using tuples (a=1, 2)

In [71]:
a = 1, 2

In [73]:
type(a)

tuple

In [74]:
c, d = a

In [76]:
c

1

In [77]:
d

2

### List to tupe and tuple to list...

In [79]:
a = (1,2,3)

In [81]:
a = list(a) #a converted to list

In [82]:
a

[1, 2, 3]

### Returning multiple values from functions

In [84]:
def addSubtract(a, b):
    return a+b, a-b

In [86]:
sum, diff = addSubtract(10,20)

In [95]:
print("sum: {}\ndiff: {}".format(sum, diff))

sum: 30
diff: -10

# Dictionaries

- key-value pair
- unordered data
- {} curly braces
- keys in the dict can be ANY immutable DS
-

In [100]:
a = {
    "name": "samar",
    "marks": 90,
    "subjects": ["math", "eng"], #string : list pair
    "friends": {   #string : dict pair       
        "rahul": "python",
        "sumit": "c++",
        "atul": "python"
    }
}

In [101]:
a["name"]

'samar'

In [102]:
a["subjects"] #gives list

['math', 'eng']

In [103]:
a["friends"] #gives dictionary

{'rahul': 'python', 'sumit': 'c++', 'atul': 'python'}

In [104]:
for key in a:
    print(key)

name
marks
subjects
friends

### Some important dict methods

- get() : to access key-value pairs
- items() : gives tuple of all pair inside dict
- keys() : gives all keys
- values() : gives all values
- clear() : empty dict

In [111]:
for item in a.items(): 
    print(item)

('name', 'samar')
('marks', 90)
('subjects', ['math', 'eng'])
('friends', {'rahul': 'python', 'sumit': 'c++', 'atul': 'python'})

In [114]:
a.get("name") #safe method

'samar'

In [115]:
a.get("name1") #name1 is not valid hence it returned none

In [116]:
a.clear()

In [117]:
a

{}

### Challenge

Write a simple Python program which inputs and stores the dataabout univercity students as a list of dictionaries.

In [118]:
students = []

In [120]:
n = int(input())

2

In [123]:
for _ in range(n):
    roll = int(input())
    name = input()
    branch = input()
    students.append({
        "roll-no": roll,
        "name": name,
        "branch": branch
    })

1
samar
cse
2
rahul
cse

In [124]:
students

[{'roll-no': 1, 'name': 'samar', 'branch': 'cse'},
 {'roll-no': 2, 'name': 'rahul', 'branch': 'cse'}]

# Sets

- {} curly braces
- unique collection
- unordered data
- not meant to be iterable
- not indexing

In [128]:
a = set() #empty set

In [129]:
a = {1, 2, 3, 4}

In [131]:
b = {3, 4, 5, 6}

In [132]:
a.intersection(b)

{3, 4}

In [133]:
a.union(b)

{1, 2, 3, 4, 5, 6}

In [134]:
a - b

{1, 2}

In [136]:
for i in a:
    print(i)

1
2
3
4

In [137]:
a = {1, 2, 3, 4, 1, 2, 3, 4}

In [139]:
a #unique elements

{1, 2, 3, 4}

In [140]:
len(a)

4

In [141]:
a = [1, 2, 1, 2, 1, 1, 2, 2]

In [142]:
list(set((a)))

[1, 2]

# Comprehention

In [143]:
a = []
for i in range(10):
    a.append(i**2)

In [144]:
print(a)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

List Comprehention

In [148]:
[i**2 for i in range(10) if i%2 == 0] #one liner for above

[0, 4, 16, 36, 64]

Dict Comprehention

In [149]:
{ i: i ** 2 for i in range(10) }

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [150]:
{ i: i ** 2 for i in range(10) if i % 2 == 0}

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

Set Comprehention

In [151]:
{ i ** 2 for i in range(10) if i % 2 == 0 }

{0, 4, 16, 36, 64}